header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    align-items: center;
    background: white;
    justify-content: space-between;
    display: flex;
    box-shadow: 5px 2px 20px black;
}


.cartWidgetContainer{
    padding: 1.5em;
}

nav{
    padding: 1.5em;
}

button.firstButton{
    margin-left: 0;
}

button {
    font-weight: bold; 
    padding: 5px 10px;
    transition: box-shadow 0.3s ease;
}

button:hover {
    box-shadow: 0 0 20px rgba(95, 255, 183, 0.9); 
}